<h1>Listado de Hobbies</h1>
<hr>
<p>Estudiante: {{ firstName }} {{ lastName }}</p>
<p>Semestre: {{ semester }}</p>
<h2>Hobbies:</h2>
<p>
  <button
		type="button"
		class="btn btn-outline-primary ms-2"
		(click)="isCollapsed = !isCollapsed"
		[attr.aria-expanded]="!isCollapsed"
		aria-controls="collapseExample"
	>
		{{isCollapsed ? 'Mostrar' : 'Ocultar'}} Hobbies
	</button>
</p>
  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <ul>
          <li *ngFor="let hobby of hobbies">{{ hobby }}</li>
        </ul>
  </div>
<h2>Series:</h2>

<div ngbAccordion>
  <div ngbAccordionItem [collapsed]="false">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>
        Series favoritas
      </button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <ol>
            <li *ngFor="let serie of series">{{ serie }}</li>
          </ol>
        </ng-template>
      </div>
  </div>
</div>
